.btn-06{
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    // min-height: 28px;
    border-radius: 12px;
    background-color: #00b140;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff !important;
    padding: 10px 30px;
    line-height: normal;
    // text-align: center;
    // margin: 3%;
}
