.headerbg{
  background-color: #f8f8f8;
  padding-top: 15px;
}
.card-body{
  padding: 0;

}
.card-label{
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: normal;
  color: #0f4c42;
  margin-bottom: 1rem;
}
