.labels-user{
  font-weight: bold;
}
.titlegreen{
  font-size: 22px !important;
  font-weight: bold !important;
  color:#00b140 !important;
}
.titlegrey{
  font-size: 18px !important;
  font-weight: bold !important;
  color:#5d5d5d !important;
}
